* {
    box-sizing: border-box;
}

body {
    max-width: 620px;
    margin: auto;
    font-family: sans-serif;
    padding: 10px;
}

h1, nav a {
    color: white;
    background: black;
    padding: 20px;
    margin: 0;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav a {
    padding: 10px;
    text-decoration: none;
}

main ul {
    padding-left: 15px;
}

table {
    border-collapse: collapse;
    border-style: hidden;
    min-width: 200px;
}

table td, table th {
    border: 1px solid black;
    padding: 5px;
}

img {
    width: 100%;
}

.cover img {
    width: 200px;
}